.account-sidebar{
    background-color: #fff;
    box-shadow: $shadow !important;
    border-radius: $radius;
    overflow: hidden;
    padding: 15px 0;
}

.profile-preview{
    #image-preview{
        object-fit: cover;
        width: 80px;
        height: 80px;
        border: $border;
        border-radius: $img-radius;
    }
}

.btn-profile-image{
    position: absolute;
    bottom: 0px;
    left: 60px;
    border: $border;
}